<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Registrar Compra</title>
</head>

<body>

<h1>Registrar Compra</h1>

<form action="/compras" method="POST">

        <label for="activo">Activo</label><br>
        <input type="text" id="activo" name="activo"><br><br>

        <label for="monto">Monto invertido</label><br>
        <input type="number" id="monto" name="monto"><br><br>

        <label for="precio">Precio de compra</label><br>
        <input type="number" id="precio" name="precio"><br><br>

        <button type="submit">Registrar compra</button>

    </form>

</body>

</html>