<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cartera de Activos</title>
</head>

<body>

<h1>Mi Cartera</h1>
<h2>Menú principal</h2>
<ul>
    <li><a href="{{ url_for('configuracion.mostrar_configuracion') }}">Configuración</a></li>
    <li><a href="{{ url_for('compras.compras') }}">Registrar compra</a></li>
    <li><a href="{{ url_for('ventas.ventas') }}">Registrar venta</a></li>
</ul>

<hr>

<h2>Histórico por activo</h2>

{% for tarjeta in tarjetas %}

<div>
    <h3>{{ tarjeta["activo"] }}</h3>
    <p>Ganancia realizada: {{ tarjeta["ganancia_realizada"] }}</p>
    <p>Rentabilidad: {{ tarjeta["rentabilidad"] }}</p>
</div>

{% endfor %}

<hr>

<h2>DashBoard</h2>

<p>Capital invertido: <strong>{{ dashboard["capital_invertido"] }}</strong> USD</p>
<p>Ganancia realizada: <strong>{{ dashboard["ganancia_realizada"] }}</strong> USD</p>
<p>Cantidad de posiciones: <strong>{{ dashboard["cantidad_posiciones"] }}</strong></p>
<p>Liquidez: <strong>{{ dashboard["liquidez"] }}</strong> USD</p>

<hr>

<h2>Resumen por activo</h2>

<table>
    <tr>
        <th>Activo</th>
        <th>Cantidad</th>
        <th>PPC</th>
        <th>Capital invertido</th>
    </tr>

    {% for resumen in resumenes_activos %}

    <tr>
        <td>{{ resumen["activo"] }}</td>
        <td>{{ resumen["cantidad_formateada"] }}</td>
        <td>{{ resumen["precio_promedio_formateado"] }}</td>
        <td>{{ resumen["capital_invertido_formateado"] }}</td>
    </tr>

    {% endfor %}
</table>

<hr>

<h2>Posiciones Abiertas (<strong>{{ dashboard["cantidad_posiciones_abiertas"] }}</strong>)</h2>

<table>

    <tr>
        <th>Posicion</th>
        <th>Activo</th>
        <th>Capital Invertido</th>
        <th>Cantidad Actual</th>
        <th>Precio Promedio</th>
        <th>Ganancia Realizada</th>
        <th>Estado</th>
    </tr>

    {% for resumen in resumenes %}

    <tr>
        <td>{{ resumen['posicion'] }}</td>
        <td>{{ resumen['activo'] }}</td>
        <td>{{ resumen['capital_historico'] }}</td>
        <td>{{ resumen['cantidad_actual'] }}</td>
        <td>{{ resumen['precio_promedio'] }}</td>
        <td>{{ resumen['ganancia_realizada'] }}</td>
        <td>{{ resumen['estado'] }}</td>
    </tr>

    {% endfor %}

</table>    

</body>

</html>