<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Posiciones Cerradas</title>
</head>

<body>

<a href="{{ url_for('inicio.inicio') }}">← Volver al dashboard</a>

<h1>Historial de posiciones</h1>

<p>🔴 Posiciones cerradas</p>

{% if posiciones %}
    {% for posicion in posiciones %}
        <hr>
        
        <h2>{{ posicion["activo"] }} — Posición #{{ posicion["posicion"] }}</h2>
        <p>Estado: 🔴 CERRADA</p>   
        <p>Fecha de apertura: {{ posicion["fecha_apertura"] }}</p>
        <p>Fecha de cierre: {{ posicion["fecha_cierre"] }}</p>
        <p>{{ posicion["duracion_formateada"] }}</p>
        <p>Capital Histórico: {{ posicion["capital_historico_formateado"] }}</p>
        <p>Capital Recuperado: {{ posicion["capital_recuperado_formateado"] }}</p>
        <p>Ganancia Realizada: {{ posicion["ganancia_realizada_formateada"] }}</p>
        
        <a href="{{ url_for('posiciones.detalle_posicion',posicion_id=posicion['posicion']) }}">Ver detalle</a>
    
    {% endfor %}
{% else %}
    <p>No existen posiciones cerradas.</p>
{% endif %}


</body>
</html>