<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detalle de Posicion</title>
</head>

<body>

<a href="{{ url_for('inicio.inicio') }}">← Volver al dashboard</a>

<h1>Detalle de posición</h1>

{% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        {% for mensaje in mensajes %}
            <p>{{ mensaje }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<hr>

<h2>{{ resumen["activo"] }} — Posición #{{ resumen["posicion"] }}</h2>

{% if resumen["estado"] == "ABIERTA" %}
    <p>Estado: 🟢 ABIERTA</p>

{% else %}
    <p>Estado: 🔴 CERRADA</p>
{% endif %}

<p>Fecha de apertura: {{ resumen["fecha_apertura"] }}</p>

{% if resumen["estado"] == "CERRADA" %}
    <p>Fecha de cierre: {{ resumen["fecha_cierre"] }}</p>
{% endif %}

<p>{{ resumen["duracion_formateada"] }}</p>

<hr>

{% if resumen["estado"] == "ABIERTA" %}
    
    <h2>Resumen actual</h2>
    
    <p>Capital histórico: {{ resumen["capital_historico_formateado"] }}</p>
    <p>Capital invertido actual: {{ resumen["capital_invertido_formateado"] }}</p>
    <p>Cantidad actual: {{ resumen["cantidad_formateada"] }}</p>
    <p>Precio promedio: {{ resumen["ppc_formateado"] }}</p>
    <p>Capital recuperado: {{ resumen["capital_recuperado_formateado"] }}</p>
    <p>Ganancia realizada: {{ resumen["ganancia_realizada_formateada"] }}</p>

{% else %}

<h2>Resultado de posición</h2>

    <p>Total Capital Invertido:<strong>{{ resumen["capital_historico_formateado"] }}</strong></p>
    <p>Capital recuperado:<strong>{{ resumen["capital_recuperado_formateado"] }}</strong></p>
    <p> Ganancia realizada:<strong>{{ resumen["ganancia_realizada_formateada"] }}</strong></p>
    <p>Rentabilidad:<strong>{{ resumen["rentabilidad_formateada"] }}</strong></p>
{% endif %}

<hr>

{% if resumen["estado"] == "ABIERTA" %}

    <h2>Acciones</h2>
    <a href="{{ url_for('compras.compras',posicion_id=resumen['posicion']) }}">Agregar compra</a>
    <br>
    <a href="{{ url_for('ventas.ventas',posicion_id=resumen['posicion']) }}">Registrar venta</a>
    <br>
{% endif %}

<form 
    action="{{ url_for('posiciones.eliminar_posicion',posicion_id=posicion['id']) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que querés eliminar esta posición? Se eliminarán también todas sus operaciones.');">
    <button type="submit">Eliminar posición</button>
</form>

<hr>

<h2>Operaciones</h2>

<table>
    <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Monto</th>
        
        {% if resumen["estado"] == "ABIERTA" %}
            <th>Acciones</th>
        {% endif %}
    </tr>

    {% for operacion in operaciones %}
    <tr>
        <td>{{ operacion["fecha_formateada"] }}</td>
        <td>{{ operacion["tipo"] }}</td>
        <td>{{ operacion["cantidad_formateada"] }}</td>
        <td>{{ operacion["precio_formateado"] }}</td>
        <td>{{ operacion["monto_formateado"] }}</td> 
        
        {% if resumen["estado"] == "ABIERTA" %}
            <td><a href="{{ url_for('operaciones.editar_operacion',operacion_id=operacion['id']) }}">Editar</a>
                <form action="{{ url_for('posiciones.eliminar_operacion',operacion_id=operacion['id']) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que querés eliminar esta operación?');">
                <button type="submit">Eliminar</button>
                </form>
            </td>
        {% else %}
            <td><a href="{{ url_for('operaciones.editar_operacion',operacion_id=operacion['id']) }}">Editar</a>
                {% if operacion["tipo"] == "venta" %}
                    <form action="{{ url_for('posiciones.eliminar_operacion',operacion_id=operacion['id']) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que querés eliminar esta operación?');">
                    <button type="submit">Eliminar</button>
                    </form>
                {% endif %}
        {% endif %}
    </tr>
    {% endfor %}    
</table>

<br>

</body>
</html>